{%extends 'base.html' %}

{% block title %}
Онлайн магазин
{% endblock %}

{% block body %}
<br>
<!--    <div class="container py-3">-->
<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <!--    <div class="card-deck mb-3 text-center">-->
        {%for el in data%}
        <div class="col">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-weight-normal">{{el.title}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{el.price}}<small
                            class="text-body-secondary fw-light">$</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{el.text}}</li>
                    </ul>
                    <a href="/buy/{{el.id}}" class="w-100 btn btn-lg btn-outline-primary">Buy</a>
                    <!--                    <a href="/detail/{{el.id}}" class="btn btn-warning">Детальнее</a>-->
                </div>
            </div>
        </div>

        {%endfor%}
    </div>
</main>
{% endblock %}
